<ion-header>
  <ion-navbar>
    <ion-title>
      Mängelliste
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home" padding>
  <ion-list>  
    <ion-item>
      <ion-label>Datum: </ion-label>
      <ion-datetime displayFormat="DDDD MMM D, YYYY"  min="2000" max="2040" [(ngModel)]="currentDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Lehrer/In:</ion-label>
      <ion-input type="text" placeholder="Lehrer/In:" [(ngModel)]="teacherName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Raum:</ion-label>
      <ion-input type="text" placeholder="Raum" [(ngModel)]="roomName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Geräte Nr.</ion-label>
      <ion-input type="text" [(ngModel)]="deviceNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gerätetyp:</ion-label>
      <ion-input type="text" [(ngModel)]="deviceType"></ion-input>
    </ion-item>
    <ion-item *ngIf="barcodeID !== ''">
      <ion-label>Barcode ID:</ion-label>
      <ion-label>{{barcodeID}}</ion-label>
    </ion-item>
    <ion-item *ngIf="deviceFoundInDatabase === false">
      <ion-label text-wrap color="danger">Barcode ID existiert noch nicht, bitte ergänzen Sie die Geräteinfos und clicken Sie auf "Gerät speichern".</ion-label>
    </ion-item>
    <ion-item *ngIf="deviceFoundInDatabase === true">
      <ion-label>Mängel:</ion-label>
    </ion-item>
    <ion-item *ngIf="deviceFoundInDatabase === true">
      <ion-textarea placeholder="Bitte beschreiben Sie die Mängel" [(ngModel)]="defectDescription"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-button color="primary" (click)="scan()">Scan</button>
    <button *ngIf="deviceFoundInDatabase === false" ion-button color="primary" (click)="addNewDevice()">Gerät speichern</button>
    <button *ngIf="deviceFoundInDatabase === true" ion-button color="primary" menuToggle (click)="sendReport()">Senden</button>
    <button *ngIf="debugViewEnabled === true" ion-button color="primary" menuToggle (click)="loadAllDevices()">Alles laden</button>
  </ion-list>
  <ion-list *ngIf="debugViewEnabled === true">
    <ion-item *ngFor="let d of data">
      <h2>{{d.hwbc_id}}</h2>
      <p>{{d.hwbc_barcode}}</p>
      <p>{{d.hwbc_raum}}</p>
      <p>{{d.hwbc_geraetenr}}</p>
      <p>{{d.hwbc_geraetetyp}}</p>      
    </ion-item>
  </ion-list>
</ion-content>
